/* Variables */
/* Global */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1140px;
}

/* Navigation */
.navigation {
  width: 100%;
  position: relative;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  position: absolute;
  font-size: 20px;
  z-index: 1;
}

.navigation-menu-left ul navigation-menu-right {
  margin: 0;
  padding-top: 10px;
  list-style: none;
  text-align: right;
}

.navigation ul li {
  float: none;
  display: inline-block;
}

.navigation-menu-left ul li {
  float: left;
}

.navigation-menu-right ul li {
  float: right;
}

.navigation ul li a {
  color: #f1f2f6;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}

.navigation a:hover {
  color: black;
}

/* Logo */
.logo {
  position: relative;
}

.logo i {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 50px;
  color: #ffffff;
  opacity: 0.8;
}

/* Splash */
.splash .container {
  width: 100%;
  height: 100vh;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #f1f2f6;
  font-size: 100px;
  letter-spacing: 12px;
  opacity: 0.7;
}

/* About */
.about {
  background: #ffffff;
  margin-top: 0;
  height: 70%;
  overflow: auto;
}

.about h2 {
  margin: 20px 0 5px 0;
  padding: 15px;
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 30px;
}

.about p {
  margin: 10px 25px;
  padding: 10px 0 0 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  text-align: center;
  font-size: 18px;
}

.about img {
  height: 70px;
  padding: 0 30px;
  margin: 5px 20px 30px;
  display: block;
  float: right;
}

/* Nature */
.nature {
  background-color: #f1f2f6;
  margin-top: 0;
  margin-bottom: 20px;
  height: 70%;
  overflow: auto;
}

.nature h2 {
  margin: 20px 0 5px 0;
  padding: 15px;
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 30px;
}

.image-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box img {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0 5px;
}

.image-boxes .box:hover {
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* News */
.news .container {
  background-color: #ffffff;
  margin: 20px 0;
  height: 130px;
}

.container img {
  width: 100%;
  height: auto;
  overflow: auto;
  background-size: cover;
  padding: 0;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-content h2 {
  margin: 20px 0 5px 0;
  padding: 15px;
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 30px;
}

.news-content p {
  margin: 55px 0 25px 0;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
}

.news-content {
  position: relative;
}

/* Button in news */
.button-one {
  border: solid 1px #f1f2f6;
  opacity: 0.8;
  font-size: 16px;
  padding: 5px 10px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #ffffff;
  width: 110px;
  height: auto;
  margin: 10px auto;
  padding: 10px 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
}

.button:hover {
  background-color: #f1f2f6;
  color: #ffffff;
  opacity: 0.8;
}

/* Footer */
footer {
  position: absolute;
  margin-top: 180px;
  height: 100px;
  width: 100%;
  background: #f1f2f6;
  height: auto;
  font-family: "Raleway", sans-serif;
  padding-top: 40px;
}

footer h2 {
  margin: 10px 5px;
  padding: 10px;
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 30px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 18px;
  line-height: 2px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px 0;
  font-size: 15px;
}

.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 20px;
}

.socials li {
  margin: 10px 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.socials a {
  color: black;
  font-size: 0;
}

.socials a i {
  font-size: 18px;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.socials a:hover i {
  color: #747d8c;
}
/*# sourceMappingURL=style.css.map */